    header
        {
            margin: -10px;
            background-color: yellow;
            padding: 10px;
            width: 100%;
            color: black;
            text-align:left;
            border: 4px solid black;
            font-size: 28px;
            font-family: sans-serif;
        }
    p
        {
            font-family: sans-serif;
            font-size: 18px;
        }
    .btn
        {
            border: none;
            color: black;
            padding: 14px 28px;
            cursor: pointer;
            font-size: 28px;
        }
    .hed
        {
            background-color: yellow;
        }
    .hed:hover
        {
            background-color: lightgoldenrodyellow;
        }
    nav
        {
            margin-left: -10px;
            margin-bottom: 10px;
            margin-top: 10px;
            background-color: yellow;
            padding: 20px;
            width: 100%;
            color: black;
            text-align:left;
            font-family: sans-serif;
            border: 3px solid black;
        }
    .floating-box 
        {
            display: inline-block;
            width: 95%;
            height: 125px;
            margin: 20px;
            border: 2px solid black;  
            border-radius: 8px;
            font-family: sans-serif;
            align-self: center;
            background-color: white;
            overflow: hidden;
        }
    .boximg
        {
            margin: 12px;
            height:100px;

            overflow:hidden;
            display: inline;
            width: 100px;
            float: left;
            border: 2px solid lightgray;
        }
    .boxtitle
        {
            font-size: 28px;
            display: block;
        }
    .boxcontent
        {
            display: block;
            overflow: hidden;
            font-size: 22px;
        }
    .articlebox
        {  
            width:90%;
            margin: auto;
        }
    footer
        {
            margin-left: -10px;
            background-color: darkred;
            padding: 20px;
            width: 100%;
            color: white;
            text-align:left;
            font-family: sans-serif;
            border: 2px solid black;
        }
        h1
        {
            font-family: sans-serif;
            text-align: center
        }
        h2
        {
            font-family: sans-serif;
            text-align: center;
        }